/* inout.css(입출고 등록) */

.form-group{
	display: flex;
	gap: 100px;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}

.register-btn1,
.register-btn2{
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	cursor: pointer;
	width: 300px;
	height: 300px;
	align-self: end;
	font-size: 50px;
	font-weight: bold;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.register-btn1{
	background: rgb(255, 107, 87);
}

.register-btn2{
	background: rgb(0, 128, 255);
}

.btn-icon{
	width: 130px;
	height: 130px;
}
