/* movement.css(창고 간 재고 이동) */

.form-group{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.form-box{
	grid-template-columns: repeat(4, 1fr);
}

.register-btn{
	background: rgb(128, 128, 128);
}





